<!-- <p> Here is the edit page of {{userServ.currentUser.username}}</p> -->



<form (ngSubmit)="update()">
  <div class="form-group">
    <div>
      <h4 align="center">❤️ Please pick your interests so we can show you a selection that is 100% made for you 👍</h4>
      <br>
      <div class="titlee">
        <p>I enjoy
          <b>movies</b> that :</p>
      </div>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedIn.includes(35)" (change)="updateProfile(35)" name="interestedIn[2]" id="comedyMovies"
          value="comedyMovies"> Make me laugh my ass off
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedIn.includes(18)" (change)="updateProfile(18)" name="interestedIn[3]" id="dramaMovies"
          value="dramaMovies"> Make me cry like a river
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedIn.includes(53)" (change)="updateProfile(53)" name="interestedIn[8]" id="thrillerMovies"
          value="thrillerMovies"> Have an exciting plot (involving crime or espionage)
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedIn.includes(27)" (change)="updateProfile(27)" name="interestedIn[9]" id="scaryMovies"
          value="scaryMovies"> Make me scared
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedIn.includes(28)" (change)="updateProfile(28)" name="interestedIn[13]" id="actionMovies"
          value="actionMovies"> Have a huge amount of fireshots and/or spectacular car chases
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedIn.includes(878)" (change)="updateProfile(878)" name="interestedIn[14]"
          id="fantasyMovies" value="fantasyMovies"> Have weird stuff happening like magic trolls or supernatural events
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedIn.includes(37)" (change)="updateProfile(37)" name="interestedIn[17]" id="westernMovies"
          value="westernMovies"> Includes cowboys and lots of cactus
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedIn.includes(10749)" (change)="updateProfile(10749)" name="interestedIn[19]"
          id="loveMovies" value="loveMovies"> All I need is love
      </label>
      <br>
      <br>
      <div class="titlee">

        <p>I enjoy
          <b>TV shows</b> that :</p>
      </div>


      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInSerie.includes(35)" (change)="updateProfileSerie(35)" name="interestedInSerie[0]"
          id="comedyTvShows" value="comedyTvShows"> Make me laugh my ass off
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInSerie.includes(18)" (change)="updateProfileSerie(18)" name="interestedInSerie[1]"
          id="dramaTvShows" value="dramaTvShows"> Make me cry like a river
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInSerie.includes(53)" (change)="updateProfileSerie(53)" name="interestedInSerie[10]"
          id="thrillerTvShows" value="thrillerTvShows"> Have an exciting plot (involving crime or espionage)
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInSerie.includes(27)" (change)="updateProfileSerie(27)" name="interestedInSerie[11]"
          id="scaryTvShows" value="scaryTvShows"> Make me scared
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInSerie.includes(28)" (change)="updateProfileSerie(28)" name="interestedInSerie[12]"
          id="actionTvShows" value="actionTvShows"> Have a huge amount of fireshots and/or spectacular car chases
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInSerie.includes(878)" (change)="updateProfileSerie(878)" name="interestedInSerie[15]"
          id="fantasyTvShows" value="fantasyTvShows"> Have weird stuff happening like magic trolls or supernatural events
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInSerie.includes(37)" (change)="updateProfileSerie(37)" name="interestedInSerie[16]"
          id="westernTvShows" value="westernTvShows"> Includes cowboys and lots of cactus
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInSerie.includes(10749)" (change)="updateProfileSerie(10749)" name="interestedInSerie[18]"
          id="loveTvShows" value="loveTvShows"> All I need is love
      </label>



      <br>
      <br>

      <div class="titlee">

        <p>I like
          <b>events</b> in Paris such as :</p>
      </div>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInEvent.includes(9)" (change)="updateProfileEvent(9)"  [checked]="creds.interestedInEvent.includes(8)" (change)="updateProfileEvent(8)" [checked]="creds.interestedInEvent.includes(11)" (change)="updateProfileEvent(11)" [checked]="creds.interestedInEvent.includes(10)" (change)="updateProfileEvent(10)" [checked]="creds.interestedInEvent.includes(12)" (change)="updateProfileEvent(12)" name="interestedInEvent[4]"
          id="festivEvents" value="festivEvents"> Going to a festival, flea-market or exhibition
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInEvent.includes(20)" (change)="updateProfileEvent(20)" [checked]="creds.interestedInEvent.includes(21)" (change)="updateProfileEvent(21)" [checked]="creds.interestedInEvent.includes(22)" (change)="updateProfileEvent(22)" name="interestedInEvent[5]"
          id="spectacleEvents" value="spectacleEvents"> Seeing a show (theater, dance, stand-up..)
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInEvent.includes(30)" (change)="updateProfileEvent(30)" [checked]="creds.interestedInEvent.includes(28)" (change)="updateProfileEvent(28)" [checked]="creds.interestedInEvent.includes(32)" (change)="updateProfileEvent(32)"  name="interestedInEvent[6]"
          id="musicEvents" value="musicEvents"> Listening to live music and sometimes even dance
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInEvent.includes(13)" (change)="updateProfileEvent(13)" [checked]="creds.interestedInEvent.includes(15)" (change)="updateProfileEvent(15)" [checked]="creds.interestedInEvent.includes(16)" (change)="updateProfileEvent(16)" [checked]="creds.interestedInEvent.includes(18)" (change)="updateProfileEvent(18)"  name="interestedInEvent[7]"
          id="expoEvents" value="expoEvents"> Enjoying a good museum
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInEvent.includes(37)" (change)="updateProfileEvent(37)" [checked]="creds.interestedInEvent.includes(38)" (change)="updateProfileEvent(38)" [checked]="creds.interestedInEvent.includes(40)" (change)="updateProfileEvent(40)"  name="interestedInEventSerie[20]"
          id="animationEvents" value="animationEvents"> Participate to a conference, lecture, meeting, visit..
      </label>

      <br>

      <br>
      <div class="titlee">

        <p>I enjoy
          <b>books</b> like :</p>
      </div>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInBook.includes('drama')" (change)="updateProfileBook('drama')" name="interestedInBook[16]"
          id="sadBook" value="sadBook"> The one that tell sad stories
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInBook.includes('thrillers')" (change)="updateProfileBook('thrillers')"
          name="interestedInBook[17]" id="policeBook" value="policeBook"> The one where someone is muredered and we have to find who did it
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInBook.includes('love')" (change)="updateProfileBook('love')" name="interestedInBook[18]"
          id="loveBook" value="loveBook"> The one that finish happily ever after
      </label>

      <label class="btn btn-info">
        <input type="checkbox" [checked]="creds.interestedInBook.includes('biography')" (change)="updateProfileBook('biography')"
          name="interestedInBook[19]" id="bioBook" value="bioBook"> The one that tell true story about someone
      </label>


      <button class="btn btn-success btn-lg">Update my Profile</button>
    </div>
  </div>
</form>

<br>
<br>
<br>