.btn-info:hover {
  background-color: #212529;
  border-color: #212529;
}
.btn-info {
  background: rgba(0,0,0,.4);
  border-color: rgba(0,0,0,.4);
  font-family: Arial, Helvetica, sans-serif;
}

.titlee {
  font-size: 30px;
}
