<h2>SIGNUP PAGE</h2>

<form (ngSubmit)="signinSubmit()">
  <label>
    Email :
    <input type="email" [(ngModel)]="formCreds.email" name="email" placeholder="a@a.a">

  </label>
  <br>

  <label>
    Password :
    <input type="password" [(ngModel)]="formCreds.password" name="password" placeholder="*******">

  </label>
  <br>

  <label>
    Username :
    <input type="text" [(ngModel)]="formCreds.username" name="username" placeholder="Username">

  </label>
  <br>

  <div>
    <h4>❤️ Please pick your interests so we can show you a selection that is 100% made for you 👍</h4>
    <br>
    <p>I like TV SHOWS that make me :</p>

    <label class="btn btn-info">
      <input type="checkbox" (change)="updateInterests('comedyTvShows')" name="interestedIn[0]" id="comedyTvShows" value="comedyTvShows"> Laugh my ass off
    </label>

    <label class="btn btn-info">
      <input type="checkbox" (change)="updateInterests('dramaTvShows')" name="interestedIn[1]" id="dramaTvShows" value="dramaTvShows"> Cry like a river
    </label>

    <br>

    <p>I like MOVIES that make me :</p>

    <label class="btn btn-info">
      <input type="checkbox" (change)="updateInterests('comedyMovies')" name="interestedIn[2]" id="comedyMovies" value="comedyMovies"> Laugh my ass off
    </label>

    <label class="btn btn-info">
      <input type="checkbox" (change)="updateInterests('dramaMovies')" name="interestedIn[3]" id="dramaMovies" value="dramaMovies"> Cry like a river
    </label>


    <br>

    <p>I like EVENTS in Paris such as :</p>

    <label class="btn btn-info">
      <input type="checkbox" (change)="updateInterests('promenadeEvents')" name="interestedIn[4]" id="promenadeEvents" value="promenadeEvents"> Going for a walk
    </label>

    <label class="btn btn-info">
      <input type="checkbox" (change)="updateInterests('musicEvents')" name="interestedIn[5]" id="musicEvents" value="musicEvents"> Listening to live music and sometimes even dance
    </label>

    <br>

    <button>Sign in</button>
  </div>
</form>