<header>
  <h2>Billise's anti-boredom App </h2>
  <span *ngIf="!userTruc.currentUser">

    <a routerLink="/signup">
      <button class="btn btn-success">
        Sign up
      </button>

    </a>
    <a routerLink="/login">
      <button class="btn btn-success">
        Log in
      </button>
    </a>
    <a routerLink="/search">
      <button class="btn btn-success">
        Search
      </button>
    </a>

    <a routerLink="">
      <button class="btn btn-success">
        Home
      </button>
    </a>

  </span>

  <span *ngIf="userTruc.currentUser">
    <h3> Welcome {{userTruc.currentUser.username}}</h3>

    <button class="btn btn-danger" (click)="logoutClick()">Log Out</button>


    <a routerLink="/search">
      <button class="btn btn-success">
        Search
      </button>
    </a>

    <a routerLink="">
      <button class="btn btn-success">
        Home
      </button>
    </a>

  </span>
</header>

<span class="content" *ngIf="!userTruc.currentUser">
  <p>
    <a routerLink="/signup">Sign up</a> to get special content related to you</p>
</span>


<router-outlet></router-outlet>