<header>
  <h2>Billise's anti-boredom App </h2>
  <span *ngIf="!userTruc.currentUser">

    <a routerLink="/signup">Sign up</a>
    <a routerLink="/login">Log in</a>
    <a routerLink="/search">Search</a>

  </span>

  <span *ngIf="userTruc.currentUser">
    <h3> Welcome {{userTruc.currentUser.username}}</h3>

    <button (click)="logoutClick()">Log Out</button>
    <a routerLink="/search">Search</a>

  </span>
</header>

<span class="content" *ngIf="!userTruc.currentUser">
  <p>
    <a routerLink="/signup">Sign up</a> to get special content related to you</p>
</span>


<router-outlet></router-outlet>