.content {
  text-align: center;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  position: absolute;
}


body {
  overflow: hidden;
}
<<<<<<< HEAD

.navbar-light .navbar-nav .nav-link {
  color: aliceblue;
}

nav {
  background: rgba(0,0,0,.4);
}

.dropdown-menu {
  background: rgba(0,0,0,.4);
  color: aliceblue;  
  min-width: 7em;
}

a.dropdown-item {
  color: aliceblue;
  text-align: center;
}

.dropdown-menu-right {
  top: 80px;
}
=======
>>>>>>> 480abbe28d30a218e674545d2bb048c542cef5b9
