<div class="content">
  <h1>What are you looking for ?</h1>
</div>
<br>


<div class="container">
  <div class="row">

    <div class="col-sm bloc1 ">
      <img src="../../assets/event.jpg" width="300px">
      <div class="overlay" (click)="openFormEvent()">
        <div class="textuh">Events</div>
      </div>
    </div>
    <br>
    <div *ngIf="searchFormEvent">
      <label>
        <input type="checkbox" (change)="updateEvent('Concert')" name="searchEvent[0]" value="Concert"> Concert
      </label>
      <label>
        <input type="checkbox" (change)="updateEvent('Promenade')" name="SearchEvent[1]" value="Promenade"> Promenade
      </label>
      <button>Search</button>
    </div>



    <div class="col-sm bloc2">
      <img src="../../assets/cine.jpg" width="300px">
      <div class="overlay" (click)="openFormMovie()">
        <div class="textuh">Movies</div>
      </div>
    </div>

    <div *ngIf="searchFormMovie">
      <label>
        What type of movie are you looking for ?
        <input [(ngModel)]="searchMovie" type="text" placeholder="Drama, Thrillers">
        <button (click)="searchTermMovie()">Search</button>

      </label>
    </div>




    <div class="col-sm bloc3">
      <img src="../../assets/serie.jpg" width="300px">
      <div class="overlay" (click)="openFormSerie()">
        <div class="textuh">Tv Shows</div>
      </div>
    </div>

    <div *ngIf="searchFormSerie">
      <label>
        What type of TV show are you looking for ?
        <input [(ngModel)]="searchSerie" type="text" placeholder="Comedy">
        <button (click)="searchTermSerie()">Search</button>

      </label>
    </div>

  </div>
</div>

<!-- <label>
  Search events
  <input [(ngModel)]="userInput" type="search" placeholder="1">
</label>

<ul>
  <li *ngFor="let oneFood of (foods | foodFilter:userInput)">
    <h3>{{oneFood.name}}</h3>
    <h4>{{oneFood.calories}}</h4>
    <img src="{{oneFood.image}}">
  </li>
</ul> -->