<div class="container">
  <div class="row">

    <div class="col-sm">
      <h2>{{event?.nom}}</h2>
      <p>
        <b>Event date :</b> {{event?.dateStartEvenement | date}}</p>
      <p>
        <b>Description :</b> <span [innerHTML]="event?.description"></span></p>
      <p>
        <b>Adress :</b> {{event?.adresse}}</p>

      <span *ngIf="userService.currentUser">
        <button class="btn btn-primary" (click)="addListClick()">Add to my list</button>
      </span>

    </div>
  </div>
</div>