<h1>bla</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{events?.title}}</h2>
      <!-- <p>
        <b>Release date :</b> {{movie?.release_date}}</p>
      <p>
        <b>Synopsis :</b> {{movie?.overview}}</p>
      <p>
        <b>Vote average :</b> {{movie?.vote_average}}</p>
      <button *ngIf="user" (click)="addListClick()">Add to my list</button>
 
    </div>
    <div class="col">
      <img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
    </div> -->
 
  </div>