<div class="container">
  <div class="row">

    <div class="col-sm">
      <h2>{{serie?.name}}</h2>
      <p>
        <b>Release date :</b> {{serie?.first_air_date | date}}</p>

      <p *ngIf="serie.in_production == true">

        <i>{{serie.name}}</i>
        <b>is still in production</b>
      </p>
      <p>
        <b>Description :</b> {{serie?.overview}}</p>

      <ul>
        <p>
          <b>Genre(s) :</b>
        </p>
        <li *ngFor="let oneGenre of serie.genres">
          <p>{{oneGenre.name}}</p>
        </li>
      </ul>
      <p>
        <b>Vote average :</b> {{serie?.vote_average}}</p>
      <p>{{serie?.number_of_seasons}} seasons - {{serie?.number_of_episodes}} episodes</p>
      <p>
        <b>Runtime : </b>{{serie?.episode_run_time}} min</p>



      <span *ngIf="userService.currentUser">
        <button class="btn btn-primary" (click)="addListClick()">Add to my list</button>
      </span>

    </div>

    <div class="col-sm">
      <img *ngIf="serie?.poster_path" src="http://image.tmdb.org/t/p/w185/{{serie.poster_path}}">
    </div>
  </div>
</div>