<div class="container">
  <div class="row">

    <div class="col-sm">
      <h1> <b> {{serie?.name}} </b> </h1>
      <h5>
        <b>Release date :</b> {{serie?.first_air_date | date}}
      </h5>
<br>
      <p *ngIf="serie.in_production == true">

        <i>{{serie.name}}</i>
        <b>is still in production</b>
      </p>
      <h5>
        <b>Description :</b></h5> {{serie?.overview}}

      <ul>
        <h5>
          <br>
          <b>Genre(s) :</b>
        </h5>
        <li *ngFor="let oneGenre of serie.genres">
          <button class="btn">{{oneGenre.name}}</button>
        </li>
      </ul>
      <h5>
        <b>Vote average :</b> {{serie?.vote_average}}</h5>
      <p>{{serie?.number_of_seasons}} seasons - {{serie?.number_of_episodes}} episodes</p>
      <p>
        <b>Runtime : </b>{{serie?.episode_run_time}} min</p>



      <span *ngIf="userService.currentUser">
        <button class="btn btn-primary" (click)="addListClickS()">Heart this</button>
        <br>
        <br>
      </span>

    </div>

    <div class="col-sm">
      <img *ngIf="serie?.poster_path" src="http://image.tmdb.org/t/p/w185/{{serie.poster_path}}">
    </div>
  </div>
</div>
