<div class="container">
  <div class="row">

    <div class="col-sm">
      <h2>{{serie?.namee}}</h2>
      <p>
        <b>Release date :</b> {{serie?.first_air_date}}</p>
      <p>
        <b>Description :</b> {{serie?.overview}}</p>
      <p>
        <b>Vote average :</b> {{serie?.vote_average}}</p>
      <p>
        <b>Number of Seasons :</b> {{serie?.number_of_seasons}}</p>



      <span *ngIf="userService.currentUser">
        <button class="btn btn-primary" (click)="addListClick()">Add to my list</button>
      </span>

    </div>

    <div class="col-sm">
      <img *ngIf="serie?.poster_path" src="http://image.tmdb.org/t/p/w185/{{serie.poster_path}}">
    </div>
  </div>
</div>