/* You can add global styles to this file, and also import other style files */

body {
  padding: 20px;
  font-family: 'Tajawal', sans-serif;
  background-image: url(./assets/blur-26347-27038-hd-wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a:hover {
  text-decoration: none;
  color: #ccc;
}

a {
  color: #ccc;
}
