/* You can add global styles to this file, and also import other style files */
footer {
  background-color: #424558;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  text-align: center;
  color: #ccc;
}

footer p {
  line-height: 100%;
}

body {
  padding: 20px;
  font-family: 'Fjalla One', sans-serif;
  background-color: aliceblue;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}