<div class="card-header">
  <div class="title">
    <h2>Trending movies</h2>
  </div>

  <ul>
    <li *ngFor="let oneMovie of movies">
      <br>
      <br>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{oneMovie.poster_path}}">
        <div class="card-body">
          <h5 class="card-title">{{oneMovie.title}}</h5>
          <p class="card-text">
            <b>Description :</b> {{oneMovie.overview}}
            <br>
            <b>Release date :</b> {{oneMovie.release_date}}
          </p>
          <a href="#" class="btn btn-success">See Details</a>
        </div>
      </div>
    </li>
  </ul>
</div>