<section class="all">
  <div class="content">
    <h1>You get bored ?</h1>
    <h1>Let’s find something to do ! </h1>

  </div>
  <div class="card-header2">
    <div class="title">
      <h2>Trending movies</h2>
    </div>

    <ul>

      <li *ngFor="let oneMovie of movies">
        <br>
        <br>
        <div class="card card-movie bloc">
          <img class="card-img-top " src="http://image.tmdb.org/t/p/w185/{{oneMovie.poster_path}}">
          <div class="card-body overlay">
            <div class="card-title textuh">
              <p>{{oneMovie.title}}</p>
              <a routerLink="/movie-detail/{{oneMovie.id}}" class="btn btn-success">See Details</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="card-header3">
    <div class="title">
      <h2>Trending Tv Shows</h2>
    </div>

    <ul>
      <li *ngFor="let oneSerie of series">
        <br>
        <br>
        <div class="card card-movie bloc">
          <img class="card-img-top" src="http://image.tmdb.org/t/p/w185/{{oneSerie.poster_path}}">
          <div class="card-body overlay">
            <div class="card-title textuh">
              <p>{{oneSerie.name}}</p>
              <!-- <br>
              <b>Release date :</b> {{oneSerie.first_air_date}} -->
              <a routerLink="/serie-detail/{{oneSerie.id}}" class="btn btn-success">See Details</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="card-header">
    <div class="title">
      <h2>Incoming Events</h2>
    </div>

    <ul>
      <li *ngFor="let oneEvent of events">
        <br>
        <br>
        <div class="card card-event bloc">
          <img class="card-img-top" src="{{oneEvent.image.url}}">
          <div class="card-body overlay">
            <div class="card-title textuh">
                <strong>{{oneEvent.title}}</strong>
              <!-- <b>Description :</b>
            <span [innerHTML]="oneEvent.html"></span> -->
            <br>
               <p> Event date: <br> <b>{{oneEvent.evenements.realDateStart | date}}</b></p>
               <a routerLink="/event-detail/{{oneEvent.id}}" class="btn btn-success">See Details</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-header2">
    <div class="title">
      <h2>Reco movies</h2>
    </div>

    <ul>
      <!-- <span *ngIf=""> -->
      <!-- <li *ngFor="let oneLeo of (leonardos | actorFilter: userInput)"> -->

      <li *ngFor="let oneMovie of moviesReco">
        <br>
        <br>
        <div class="card card-movie bloc">
          <img class="card-img-top " src="http://image.tmdb.org/t/p/w185/{{oneMovie.poster_path}}">
          <div class="card-body overlay">
            <div class="card-title textuh">
              <p>{{oneMovie.title}}</p>
              <!-- <p>
                <b>Release date :</b> {{oneMovie.release_date}}</p> -->
              <a routerLink="/movie-detail/{{oneMovie.id}}" class="btn btn-success">See Details</a>
            </div>
          </div>
        </div>
      </li>
      <!-- </span> -->
    </ul>
  </div>

  <br>
  <br>
  <br>
  <br>
</section>