ul {
  display: flex;
}

li {
  list-style-type: none;
}

.card-header2 {
  background-color: salmon;
  padding: 10px 10px;
  margin: 10px 10px;
  overflow: scroll;
}

.card-header {
  background-color: aquamarine;
  padding: 10px 10px;
  margin: 10px 10px;
  overflow: scroll;
}

.card-text {
  text-align: justify;
}
.content {
  text-align: center;
}

.card-event {
  width: auto;
  height: 60vh;
}

.card-movie {
  width: auto;
  height: 65vh;
}