<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1> <b> {{bookId?.title}} </b></h1>
      <br>
      <ul>
        <h4> <b>Author(s) :</b></h4>
        <li *ngFor="let oneAuthor of bookId.authors">
          <p>{{oneAuthor}}</p>
        </li>
      </ul>
      <p>Published on {{bookId?.publishedDate | date}}</p>
      <h4> <b>Description :</b></h4>
      <b>{{bookId?.description}}</b>


      <ul>
        <br>
        <h4> <b>Genre(s) :</b> </h4>
        <li *ngFor="let oneGenre of bookId.categories">
          <p>{{oneGenre}}</p>

        </li>
      </ul>


      <span *ngIf="userServ.currentUser">
        <button class="btn btn-primary" (click)="addListClick()">Add to my list</button>
        <br>
        <br>
      </span>

    </div>

    <div class="col-sm">
      <img *ngIf="bookId?.thumbnail" src="{{bookId?.thumbnail}}">
    </div>
  </div>
</div>