<div class="container">
  <div class="row">

    <div class="col-sm">
      <h2>{{movie?.title}}</h2>
      <p>
        <b>Release date :</b> {{movie?.release_date | date}}</p>
      <p>
        <b>Synopsis :</b> {{movie?.overview}}</p>


      <ul>
        <p>
          <b>Genre(s) :</b>
        </p>
        <li *ngFor="let oneGenre of movie.genres">
          <p>{{oneGenre.name}}</p>
        </li>
      </ul>

      <p>{{movie?.runtime}} min</p>

      <p>
        <b>Vote average :</b> {{movie?.vote_average}}</p>

      <span *ngIf="movie?.belongs_to_collection">
        <p>
          <i>{{movie.title}}</i> belongs to
          <i>{{movie.belongs_to_collection.name}}</i>
        </p>
      </span>

      <span *ngIf="userService.currentUser">
        <button class="btn btn-primary" (click)="addListClick()">Add to my list</button>
        <br>
        <br>
      </span>

    </div>

    <div class="col-sm">
      <img *ngIf="movie?.poster_path" src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
    </div>
  </div>
</div>