<div class="container">
  <div class="row">

    <div class="col-sm">
      <h1><b> {{movie?.title}} </b></h1>
      <h5>
        <b>Release date :</b> {{movie?.release_date | date}}
      </h5>
      <br>
       <h5> <b>Synopsis :</b></h5> {{movie?.overview}}


      <ul>
        <h5>
          <br>
          <b>Genre(s) :</b>
        </h5>
        <li *ngFor="let oneGenre of movie.genres" align="center">
          <button class="btn">{{oneGenre.name}}</button>
        </li>
      </ul>

      <p>{{movie?.runtime}} min</p>

      
        <h5> <b>Vote average :</b> {{movie?.vote_average}}</h5> 

      <span *ngIf="movie?.belongs_to_collection">
        <p>
          <i>{{movie.title}}</i> belongs to
          <i>{{movie.belongs_to_collection.name}}</i>
        </p>
      </span>

      <span *ngIf="userService.currentUser">
        <button class="btn btn-primary" (click)="addListClick()">Heart this</button>
        <br>
        <br>
      </span>

    </div>

    <div class="col-sm">
      <img *ngIf="movie?.poster_path" src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
    </div>
  </div>
</div>